<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather</title>
<link rel='stylesheet' href='/css/styles.css'>

</head>
<body>
    <div class="main-content">
        {{>header}}
   
    <p>{{description}}</p>
    <form>
        <input  placeholder="your address">
        <button>Search</button>
    </form>
    </div>
    <p class="temperature">

    </p>
    <p class="location">

    </p>


       {{>footer}}

       <script src='js/index.js'></script>
        
  
    
</body>
</html>